@media (min-width: 1200px) {
    .container {
        grid-template-columns: 48rem 27.7rem 27.7rem;
        grid-template-rows: 24.4rem 21.2rem;
    }

    .temperature-now {
        grid-row: 1/3;
    }

    .week-weather {
        grid-column: 2/4;
    }

    .day {
        flex: 1;
    }

    h4.title {
        font-size: 1.4rem;
    }
}