@media  screen and (max-width: 767px){
    .container{
        grid-template-columns: 44rem;
        min-height: 100%;
    }

    section.temperature-now{
        top: 3rem;
        margin-bottom: 3rem;
    }

    section.temperature-now::before{
        top: -6.5rem;
        left: -3rem;
    }
 
    .location #loc{
        visibility: hidden;
        width: 8rem;
        margin-right: 1rem;
    }
    
    .location #loc::placeholder{
        margin-left: 1rem;
        visibility: hidden;
    }

    .location #loc:valid{
        margin-left: 1rem;
    }

    .week-weather{
        margin-bottom:2rem;
    }
    
    h2.title{
        margin-right: 0.8rem;
    }

    .sun-time .sun-chart{
        padding-top: 0rem ;

    }
}

@media (min-width:768px) and (max-width:1024px){
    .temperature-now{
        top: 3rem;
        margin-bottom: 3rem;
    }

    .week-weather{
        margin-bottom:2rem;
    }

    h2.title{
        margin-right: 0.8rem;
    }

    .sun-time .sun-chart{
        padding-top: 0rem ;
        margin-bottom: 2rem;
    }

}

@media (min-width: 1025px) and (max-width:1199px) {
    .container {
        grid-template-columns: 40rem 25rem 25rem;
        grid-template-rows: 24.4rem 21.2rem;
        height: 100vh;
    }

    .temperature-now {
        grid-row: 1/3;
    }

    .location #loc{
        width: 10rem;
        margin-right: 1rem;
    }

    .week-weather {
        grid-column: 2/4;
    }

    .day {
        flex: 1;
    }

    h4.title {
        font-size: 1.4rem;
    }
}
@media (min-width: 1200px) {
    .container {
        grid-template-columns: 48rem 27.7rem 27.7rem;
        grid-template-rows: 24.4rem 21.2rem;
        height: 100vh;
    }

    .temperature-now {
        grid-row: 1/3;
    }

    .week-weather {
        grid-column: 2/4;
    }

    .day {
        flex: 1;
    }

    h4.title {
        font-size: 1.4rem;
    }
}