@media screen and (max-width: 767px){
    .container{
        height: fit-content;
        max-width: 100%;
        grid-template-columns: 27.5rem;
    }

    section.temperature-now{
        height: fit-content;
        background-size: cover;
        padding-bottom: 2rem;
    }

    section.temperature-now:before{
        top: -9rem;
    }
 
    section.temperature-now .location {
        flex-direction: column;
        padding: 3.2rem 3.2rem 0
    }

    .temperature-now .location #loc{
        max-width: 50%;
        visibility: hidden;
        margin-right: 1rem;
    }
    
    .location #loc::placeholder{
        margin-left: 1rem;
        visibility: hidden;
    }

    .location #loc:valid{
        margin-left: 1rem;
    }

    .temperature-now .temp .number{
        font-size: 6rem;
    }

    section.temperature-now .statistics{
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding: 0;
        max-width: 50%;
        margin: auto;
    }

    section.air-quality .info{
        align-items: flex-start;
        gap: 1rem;
    }

    .sun-time .sun-chart{
        padding-top: 0rem ;
    }

    section.week-weather{
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom:2rem;
    }
    
    section.week-weather .day{
        font-size: 2rem;
        gap: 1rem;
    }

    .day h1.title{
        font-size: 1rem;
    }
    
    h2.title{
        margin-right: 0.8rem;
    }

    
}

@media (min-width:768px) and (max-width:1100px){

    .container{
        grid-template-columns: 45em;
    }

    .temperature-now .location #loc{
        max-width: 50%;
        visibility: hidden;
        margin-right: 1rem;
    }
 
    .week-weather{
        margin-bottom:2rem;
    }

    h2.title{
        margin-right: 0.8rem;
    }

    .sun-time .sun-chart{
        padding-top: 0rem ;
        margin-bottom: 2rem;
    }

    #day-mobile {
        display: none;
      }

}

@media (min-width: 1111px) {
  .container {
    grid-template-columns: 48rem 27.7rem 27.7rem;
    grid-template-rows: 24.4rem 21.2rem;
    height: 100vh;

  }

  .temperature-now {
    grid-row: 1/3;
  }

  section.temperature-now::before{
    top: -8rem;
    left: -2.5rem;
}

  .week-weather {
    grid-column: 2/4;
  }

  .day {
    flex: 1;
  }

  #day-mobile {
    display: none;
  }

  h4.title {
    font-size: 1.4rem;
  }
}
