@import url(./media.css);
@import url(./air-quality.css);
@import url(./sun-time.css);
@import url(./temperature-now.css);
@import url(./week-weather.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    --cor-background-section: #6D67D0;
}

body {
    font-size: 1.6rem;
}

.container {
    background: url(../img/bg.jpeg) no-repeat center/cover;
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 2.4rem;
}

section {
    background: var(--cor-background-section);
    backdrop-filter: blur(1rem);        
    border-radius: 1rem;
}