@import url(./media.css);
@import url(./air-quality.css);
@import url(./sun-time.css);
@import url(./temperature-now.css);
@import url(./week-weather.css);
@import url(./search.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}



input {
  border: none;
  outline: none;
}

:root {
  --cor-background-section: #6d67d0;
  --cor-title: #dad8f7;
  --cor-span: #c2bff4;
  --light: white;
  --cor-bg-stats: #6660c899;
  --size-info: #e7e6fb;
  --size-air: #87ebcd;
}

.container {
  background: url(../img/bg.jpeg) no-repeat center/cover;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  place-content: center;
  gap: 2.4rem;
  padding: 7rem 0;
}

section {
  background: var(--cor-background-section);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}
