h2.title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--cor-title);
  font-weight: 700;
  font-size: 1.6rem;
  position: relative;
  top: 3.2rem;
}

.sun-chart-wrapper {
  margin-top: 7rem;
  height: 11rem;
}

.sun-chart {
  --pos-x: 50;
  margin: auto;
  width: 21.6rem;
  height: 21.6rem;
  position: relative;
}

.sun-chart::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  background: #f6c833;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -0.6rem;
  /*posiciona o icone do sol no topo e no centro do raio*/
  transform: rotate(calc(1deg * (((100 - var(--pos-x)) / -100) * 180)))
    translate(10.6rem);
}

.chart {
  width: 21.6rem;
  height: 10.8rem;
  overflow: hidden;
}

.chart::before {
  content: "";
  width: 21rem;
  height: 21rem;
  display: block;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(251, 219, 96, 0.2) 0%,
    rgba(251, 219, 96, 0) 101.89%
  );
  --mask: linear-gradient(0deg, white 50%, transparent 0%);
  mask: var(--mask);
  -webkit-mask: var(--mask);
  rotate: calc(1.8deg * var(--pos-x));
}

.chart img {
  position: absolute;
  top: 0;
  left: -1%;
}

time.now {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  color: var(--cor-title);
  font-size: 1.4rem;
  font-weight: 700;
}

.time {
  color: var(--cor-title);
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem auto 0;
  padding: 0 1.6rem 1.6rem;
  max-width: 27rem;
}
