.temperature-now {
  background: url(../img/bg-temp-now.jpeg);
  position: relative;
  display: grid;
  place-content: center;
  grid-template-rows: max-content 1fr max-content;
}

.temperature-now::before {
  content: "";
  width: 17.6rem;
  height: 17.6rem;
  background: url(../img/clouds.svg) no-repeat;
  position: absolute;
  top: -5.6rem;
  left: -5.6rem;
}

.location {
  justify-self: end;
  padding: 3.2rem 3.2rem 0 10rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.location strong {
  font-size: 1.4rem;
  color: var(--cor-span);
}

.location #loc {
  background-color: var(--cor-bg-stats);
  border-radius: 0.6rem;
  height: 2rem;
  padding: 1rem;
  border: 0.1rem solid var(--size-info);
}

.location #loc::placeholder {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: var(--cor-title);
}

.location #loc:focus {
  border: 0.1rem solid var(--size-info);
  box-shadow: 0.08rem 0.08rem 1rem var(--size-air);
  color: var(--cor-title);
  text-align: center;
}

.location #btn-loc {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.location #btn-loc:active {
  color: var(--size-air);
}

.location #btn-loc:focus-visible {
  color: var(--cor-span);
}

.temp {
  margin: 6rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.temp .number {
  text-align: center;
  font-size: 8.8rem;
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.temp .number .maxmin {
  font-size: 2rem;
}

.temp .number .maxmin span {
  color: var(--cor-span);
}

.celsius {
  font-size: 2.4rem;
  color: var(--cor-title);
  margin-top: 1.5rem;
}

.statistics {
  padding: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.stats {
  flex: 1;
  padding: 1.2rem 1.6rem;
  background: var(--cor-bg-stats);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.stats .info {
  color: var(--size-info);
}

.stats .info h5 span,
.stats .info p {
  font-size: 1.2rem;
}

.stats .info h5 {
  font-size: 1.8rem;
  display: flex;
  align-items: baseline;
  gap: 0.4rem;
}
